node_modules/
.next/
out/
build/
dist/

.env
.env.local
.env*.local

*.db
*.db-journal
*.sqlite
prisma/dev.db*
prisma/migrations/dev.db*

.DS_Store
*.log
npm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts
